* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#player-board,
#enemy-board,
#place-ships {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: 500px;
  background-color: gray;
}

#player-board div,
#enemy-board div {
  background-color: darkcyan;
  outline: 2px solid black;
}

.boards {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#enemy-board div.miss,
#player-board div.miss {
  background-color: whitesmoke;
}

#enemy-board div.hit,
#player-board div.hit {
  background-color: darkred;
}

.unclickable {
  pointer-events: none;
}

.overlay {
  display: block; /* Initially hidden */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  z-index: 1;
  text-align: center;
}

.overlay-content {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  justify-content: center;
}

#instructions {
  background-color: white;
  width: fit-content;
  padding: 10px;
  border-radius: 2px;
}

#ships-container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 500px;
}

#place-ships .cell {
  background-color: darkcyan;
  outline: 2px solid black;
}

#patrol-boat {
  background-color: red;
  width: 50px;
  height: 50px;
}

#submarine {
  position: relative;
  background-color: red;
  width: 100px;
  height: 50px;
}

#destroyer {
  position: relative;
  background-color: red;
  width: 150px;
  height: 50px;
}

#battleship {
  position: relative;
  background-color: red;
  width: 200px;
  height: 50px;
}

#carrier {
  position: relative;
  background-color: red;
  width: 250px;
  height: 50px;
}

#patrol-boat.vertical {
  background-color: red;
  height: 50px;
  width: 50px;
}

#submarine.vertical {
  position: relative;
  background-color: red;
  height: 100px;
  width: 50px;
}

#destroyer.vertical {
  position: relative;
  background-color: red;
  height: 150px;
  width: 50px;
}

#destroyer.vertical {
  position: relative;
  background-color: red;
  height: 150px;
  width: 50px;
}

#battleship.vertical {
  position: relative;
  background-color: red;
  width: 50px;
  height: 200px;
}

#carrier.vertical {
  position: relative;
  background-color: red;
  height: 250px;
  width : 50px;
}


.hidden{
  display: none;
}
